* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-image: url(./images/coupl.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (min-width:460px) {
    body {
        display: none;
    }
}

h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */
    color: #FFFFFF;
    text-align: center;
    background: #FF4D4D;
}

header {
    width: 333px;
    height: 400px;
    margin: 150px auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#form {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#form img {
    width: 60px;
    height: 59px;
    align-self: center;
    margin: 20px;
    animation: bounce 1.5s infinite ease;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .5));
}

@keyframes bounce {
    from {
        transform: scale(0, 0);
    }
    to {}
}

input {
    border: none;
    border-radius: 4px;
    height: 4vh;
    padding-left: 30px;
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

#form input.first {
    margin-top: 60px;
}

input.btn {
    text-align: center;
    padding: 0;
    width: 50%;
    align-self: center;
    margin-top: 50px;
    background: #EB5757;
    color: #FFFFFF;
    font-weight: 200;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    background: rgb(221, 50, 50);
}

h2 {
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    margin-top: 20px;
}

.footer {
    background: rgba(0, 0, 0, .7);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
}